In [1]:
import pandas as pd
import numpy as np
import re
import time

In [2]:
brandlist = pd.read_csv('../analysis/wordnet_db/wordnet_food_beverages_list.csv')

In [3]:
reviews = pd.read_json('../data/reviews_1500k.json', lines=True)

In [4]:
reviews.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,ujmEBvifdJM6h6RLv4wQIg,0,2013-05-07 04:34:36,1,Q1sbwvVQXV2734tPgoKj4Q,1,Total bill for this horrible service? Over $8G...,6,hG7b0MtEbXx5QzbzE6C_VA
1,NZnhc2sEQy3RmzKTZnqtwQ,0,2017-01-14 21:30:33,0,GJXCdrto3ASJOqKeVWPi6Q,5,I *adore* Travis at the Hard Rock's new Kelly ...,0,yXQM5uF2jS6es16SJzNHfg
2,WTqjgwHlXbSFevF32_DJVw,0,2016-11-09 20:09:03,0,2TzJjDVDEuAW6MR5Vuc1ug,5,I have to say that this office really has it t...,3,n6-Gk65cPZL6Uz8qRm3NYw
3,ikCg8xy5JIg_NGPx-MSIDA,0,2018-01-09 20:56:38,0,yi0R0Ugj_xUx_Nek0-_Qig,5,Went in for a lunch. Steak sandwich was delici...,0,dacAIZ6fTM6mqwW5uxkskg
4,b1b1eb3uo-w561D0ZfCEiQ,0,2018-01-30 23:07:38,0,11a8sVPMUFtaC7_ABRkmtw,1,Today was my second out of three sessions I ha...,7,ssoyf2_x0EQMed6fgHeMyQ

In [5]:
reviews.text = reviews.text.str.lower()
brandlist.word = brandlist.word.str.lower()

In [74]:
sample = reviews[750000:1000000].text

In [ ]:
%%time
train_data = []
for i in sample:
    brands = []
    for brand in brandlist.word:
        for m in re.finditer(r'\b' + brand + r'\b', i):
            brands.append((m.start(0), m.end(0), "PRODUCT"))
    train_data.append((i, brands))

CPU times: user 8h 56min 3s, sys: 8.42 s, total: 8h 56min 11s
Wall time: 8h 56min 14s

Weird terms in brand list like 'delicious', 'round', 'green'

In [ ]:
result4 = pd.DataFrame(train_data, columns=['text', 'entities'])

In [ ]:
result4.to_csv('spacy_train4.csv')

In [66]:
result3

,text,entities
1,i bought a dealfind voucher and decided to giv...,"[(249, 253, PRODUCT), (277, 281, PRODUCT), (82..."
2,"kenny is a confident speaker, but he is also c...",[]
3,fun club!! great place to hang out and a real...,[]
4,很不錯的港式茶餐廳，味道對。住附近的絕對可以一試。\n侍應態度都很好。\n午餐價錢$8 / ...,[]
5,paige has got to be best stylist i have ever h...,[]
6,today is saturday 2/27/16. i get up to go to w...,[]
7,after our horrible customer service next door ...,"[(250, 256, PRODUCT)]"
8,we had birthday party for my dad with about 40...,"[(75, 82, PRODUCT), (71, 74, PRODUCT), (317, 3..."
9,"just had my week after manzilian ""check-up"" an...",[]
10,"if i could give this place zero stars, i would...",[]
11,"solid place, good breakfast food. shake is usu...","[(18, 27, PRODUCT), (34, 39, PRODUCT), (28, 32..."
12,"i dined her on a wednesday night, the place wa...","[(343, 349, PRODUCT), (301, 307, PRODUCT), (29..."
13,this place is boomsauce!!! while on a trip to ...,"[(113, 117, PRODUCT)]"
14,"i literally cried myself to sleep...\nbeware, ...","[(511, 515, PRODUCT), (643, 647, PRODUCT)]"
15,i decided to give this place another chance si...,"[(1197, 1203, PRODUCT), (1487, 1490, PRODUCT),..."
16,love it!! great production and the stage is pu...,[]
17,awesome little shoppe with tasty food! i have ...,"[(33, 37, PRODUCT)]"
18,"overall, the ambiance was romantic with the di...","[(306, 312, PRODUCT), (356, 362, PRODUCT), (42..."
19,we love don and sergio at bailey plumbing. the...,[]
20,having a lot of trouble getting dresses that a...,[]
21,lol at the new made fake accounts who's statin...,"[(730, 733, PRODUCT), (961, 964, PRODUCT), (10..."
22,the inside is nice and quaint. my salad was go...,"[(34, 39, PRODUCT)]"
23,the best filipino bar/karaoke/club in las vega...,"[(72, 81, PRODUCT), (215, 219, PRODUCT), (229,..."
24,having just become the mayor of fitness 19 on ...,"[(602, 607, PRODUCT)]"
25,this place is not fancy. great for chinese ta...,"[(506, 513, PRODUCT), (527, 534, PRODUCT), (35..."
26,the actual food was very good. we ordered a me...,"[(44, 48, PRODUCT), (382, 386, PRODUCT), (549,..."
27,i love the vegan ramen. although i wasn't a f...,"[(98, 101, PRODUCT), (65, 73, PRODUCT), (94, 9..."
28,everything is delicious here. the pastries are...,"[(14, 23, PRODUCT), (91, 95, PRODUCT), (104, 1..."
29,~2.5 stars overall but just foodwise 3.5 stars...,"[(524, 531, PRODUCT), (655, 662, PRODUCT), (88..."
30,great happy hour food and entertainment by chu...,"[(43, 48, PRODUCT), (17, 21, PRODUCT)]"
...,...,...
299971,came here today with the ol' dad after a coupl...,"[(225, 229, PRODUCT), (163, 167, PRODUCT), (52..."
299972,food was just ok. nothing like other roys i h...,"[(117, 124, PRODUCT), (182, 192, PRODUCT), (0,..."
299973,i love this casino!! for the people that go lo...,"[(247, 252, PRODUCT), (381, 386, PRODUCT), (51..."
299974,i have no real complaints. prices are high bu...,[]
299975,die buffets in las vegas sind aus meiner erfah...,"[(193, 199, PRODUCT), (1025, 1031, PRODUCT), (..."
299976,"stopped in for lunch, excellent service, frien...","[(236, 243, PRODUCT), (74, 83, PRODUCT), (391,..."
299977,this is a scam!! beware of timeshare!! do not ...,[]
299978,i needed to ship a lot of precious items and m...,[]
299979,i highly recommend dr. josh olson and his staf...,"[(407, 411, PRODUCT)]"
299980,i find the service here is always quite amazin...,"[(346, 353, PRODUCT), (151, 155, PRODUCT), (10..."
299981,we came here on a friday around 6:30pm before ...,"[(1230, 1237, PRODUCT), (1367, 1374, PRODUCT),..."
299982,highly recommend this company to install floor...,[]
299983,"we went to westgate for yardhouse, but it was ...","[(187, 194, PRODUCT), (348, 355, PRODUCT), (41..."
299984,"as a female, i felt very uncomfortable here. i...",[]
299985,we have had a great service and the christmas ...,[]
299986,payless pizza is the best pizza in the entire ...,"[(68, 77, PRODUCT), (244, 253, PRODUCT), (345,..."
299987,"we were here the third night it opened, the fo...","[(253, 257, PRODUCT), (493, 498, PRODUCT), (44..."
299988,i only go to jenny she is very nice and wow do...,[]
299989,i've been coming to snapdragon salon for about...,[]
299990,wow! i had been wanting to try little miss bbq...,"[(1340, 1349, PRODUCT), (525, 529, PRODUCT), (..."
299991,tadka deserves more than the current 3-star ra...,"[(561, 570, PRODUCT), (114, 120, PRODUCT), (21..."
299992,we moved to phoenix about 6 months ago and sin...,[]
299993,i searched yelp for carpet cleaners and becaus...,[]
299994,i ordered 3 sandwiches to the were not stuffed...,"[(417, 426, PRODUCT), (52, 60, PRODUCT), (392,..."
299995,went here for a lonely sad man's beer and the ...,"[(33, 37, PRODUCT)]"
299996,this review is for their happy hour. the lady ...,"[(274, 283, PRODUCT), (348, 355, PRODUCT), (49..."
299997,"very professional and friendly, will come back...",[]
299998,i had a small craving for bbq and unfortunatel...,"[(260, 265, PRODUCT), (207, 214, PRODUCT), (21..."
299999,"this place is such a hidden gem, you would nev...","[(303, 307, PRODUCT), (322, 329, PRODUCT), (33..."
300000,this place is way overpriced for what you're g...,"[(67, 72, PRODUCT)]"