In [46]:
import pandas as pd
import numpy as np
import re
import time

In [47]:
brandlist = pd.read_csv('../analysis/wordnet_db/wordnet_food_beverages_list.csv', header=None, names=['word'])

In [48]:
reviews = pd.read_json('restaurant_reviews_1900k.json', lines=True)

In [49]:
reviews.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,ikCg8xy5JIg_NGPx-MSIDA,0,2018-01-09 20:56:38,0,yi0R0Ugj_xUx_Nek0-_Qig,5,Went in for a lunch. Steak sandwich was delici...,0,dacAIZ6fTM6mqwW5uxkskg
1,eU_713ec6fTGNO4BegRaww,0,2013-01-20 13:25:59,0,fdiNeiN_hoCxCMy2wTRW9g,4,I'll be the first to admit that I was not exci...,0,w31MKYsNFMrjhWxxAb5wIw
2,3fw2X5bZYeW9xCz_zGhOHg,5,2016-05-07 01:21:02,4,G7XHMxG0bx9oBJNECG4IFg,3,Tracy dessert had a big name in Hong Kong and ...,5,jlu4CztcSxrKx56ba1a5AQ
3,zvO-PJCpNk4fgAVUnExYAA,1,2010-10-05 19:12:35,1,8e9HxxLjjqc9ez5ezzN7iQ,1,This place has gone down hill. Clearly they h...,3,d6xvYpyzcfbF_AZ8vMB7QA
4,8mIrX_LrOnAqWsB5JrOojQ,0,2011-11-30 02:11:15,0,kbtscdyz6lvrtGjD1quQTg,4,"Like walking back in time, every Saturday morn...",0,FIk4lQQu1eTe2EpzQ4xhBA

In [50]:
# reviews.text = reviews.text.str.lower()
brandlist.word = brandlist.word.str.lower()

In [51]:
sample = reviews[:250000]

In [52]:
%%time
train_data = []
for r, i in sample.iterrows():
    brands = []
    for brand in brandlist.word:
        for m in re.finditer(r'\b' + brand + r'\b', i.text.lower()):
            brands.append((m.start(0), m.end(0), "PRODUCT"))
    train_data.append((i.review_id, i.text, brands))

CPU times: user 3.1 s, sys: 15 ms, total: 3.12 s
Wall time: 3.13 s

Weird terms in brand list like 'delicious', 'round', 'green'

In [53]:
result = pd.DataFrame(train_data, columns=['review_id', 'text', 'entities'])

In [54]:
result.to_csv('spacy_train.csv')